.first {
    font-size: 120%;
    font-weight: bold;
}
article p:last-child {
    font-size: 120%;
    font-weight: bold;
}
a:link,
a:visited {
    color: rgb(76, 153, 51);
    font-weight: bold;
}
a:hover {
    color: rgb(214, 102, 22);
}
p:hover {
    color: aquamarine;
}
article::first-line {
    color: rgb(61, 226, 43);
    font-size: 120%;
    font-weight: bold;
}
.box::before {
    content: "This should show before the other content.";

}
.box1::after {
    content: "Bikund Kumar";
}