h1 {
    background-color: aquamarine;
    border: solid 3px black;
    border-radius: 5px;
    width: 300px;
    padding: 5px;
    margin: 2px;

}
.firstPara {
    background-color: rgb(16, 178, 40);
    border: solid 3px black;
    border-radius: 5px;
    padding: 5px;
}
.secondPara {
    background-color: chocolate;
    border: solid 3px black;
    border-radius: 5px;
}
.thirdPara {
    background-color: dodgerblue;
    border: solid 3px black;
    border-radius: 5px;
}